.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userContainer {
  text-transform: none;
  color: var(--secondary-color);
  padding: 1em 2em;
  border-radius: 12px;
}

.avatar {
  height: 96px;
  width: 96px;
  transition: .5s box-shadow;
}

.avatar:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}