.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: var(--primary-color);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: var(--code-font-family);
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logoContainer {
  width: 128px;
  height: 128px;
  display: block;
  margin: 48px;
  padding: 8px;
  animation: loading 2s infinite;
}

.logo {
  display: block;
  max-width: 100%;
  animation: loading-icon 2s infinite;
}

@keyframes loading {
  0% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(500px) rotateX(180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) rotateX(180deg) rotateY(-180deg);
  }
}

@keyframes loading-icon {
  0% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
  15% {
    transform: perspective(500px) rotateX(0deg) rotateY(0deg);
  }
  16% {
    transform: perspective(500px) rotateX(180deg) rotateY(0deg);
  }
  50% {
    transform: perspective(500px) rotateX(180deg) rotateY(0deg);
  }
  65% {
    transform: perspective(500px) rotateX(180deg) rotateY(0deg);
  }
  66% {
    transform: perspective(500px) rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: perspective(500px) rotateX(180deg) rotateY(180deg);
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
